<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view hide-tabs>
  <ion-nav-title>
    <img ng-src="img/front/logo-v2.png" width="120" height="25"></div>
</ion-nav-title>
<ion-content>
  <div>
    <div>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="placeImage in place.url_images_detail">
          <img class="full-image" ng-src="{{resizeCloudinaryImage(placeImage,'/c_crop,h_280,w_640')}}">
          <div class="row place-info">
            <div class="left col-80">
              <h2>
                <bold>{{place.name}}</bold>
              </h2>
            </div>
            <div class="col">
              <a ng-href="#/tab/places/{{place.id}}/map">
                <i class="ion-map detail-icon"></i>
              </a>
            </div>
            <!--<div class="col right">
                <span class="rating">4.8</span>
              </div>-->
          </div>
        </ion-slide>
        <ion-slide>
          <img class="full-image" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{place.coordinates[0].lat}},{{place.coordinates[0].lng}}&zoom=7&size=325x142&format=png&markers=color:red|label:C|{{place.coordinates[0].lat}},{{place.coordinates[0].lng}}">
          <div class="row place-info">
            <div class="left col-80">
              <h2>
                <bold>{{place.name}}</bold>
              </h2>
            </div>
            <div class="col">
              <a ng-href="#/tab/places/{{place.id}}/map">
                <i class="ion-map detail-icon"></i>
              </a>
            </div>
            <!--<div class="col right">
                <span class="rating">4.8</span>
              </div>-->
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </div>

  <div class="list card">
    <div class="item header-details">
      <h2 class="text-left">
        {{place.address}}
      </h2>
    </div>
    <div class="item-body">
      <p>{{place.description}}</p>
      <a ng-href="comgooglemaps://?daddr={{place.coordinates[0].lat}},{{place.coordinates[0].lng}}" target="_system" class="button button-small button-dark access-btn center">
        ¿Como llegar?
      </a>
    </div>
  </div>
</div>
</div>

<div class="list card">
<div class="item header-details">
  <h2 class="text-left">
    Informacion de pesca
  </h2>
</div>
<div class="item-body">
  <p>{{place.description_where_fish}}</p>
  <div class="item">
    <div class="icon-list">
      <img ng-src="img/front/ico9.png" width="40" height="40">
      <span>Caudal :
        {{currentMonthlyAverage(place.monthly_average_flow)}}
        m3/seg</span>
    </div>
    <div class="icon-list">
      <img ng-src="img/front/ico10.png" width="40" height="40">
      <span>Profundidad :
        {{place.depth}}
        mts</span>
    </div>
    <div class="icon-list">
      <img ng-src="img/front/ico11.png" width="40" height="40">
      <span>Turbiedad :
        {{currentMonthlyAverage(place.monthly_average_turbidity)}}
        ntu</span>
    </div>
    <div class="icon-list">
      <img ng-src="img/front/ico13.png" width="40" height="40">
      <span>Tº del agua :
        {{currentMonthlyAverage(place.monthly_average_water_temperature)}}
        º</span>
    </div>
    <div class="icon-list">
      <img ng-src="img/front/ico12.png" width="40" height="40">
      <span>Tº ambiente actual :
        {{wheater.main.temp}}
        º</span>
    </div>
    <div class="icon-list">
      <img ng-src="img/front/ico15.png" width="40" height="40">
      <span>Viento actual :
        {{wheater.wind.speed}}
        mts/seg</span>
    </div>
  </div>
</div>
</div>

<!--<div class="tips">
<div class="col">
  <span class="tip-ico">TIP</span>
</div>
<div class="tip-info">
  Acá podemos incluir algun tipo de tips o notificación de la aplicación
  <button class="button button-block button-dark button-tip">NOTIFICARME</button>
</div>
</div>-->

<div class="list card">
<div class="item header-details">
  <h2 class="text-left">
    Principales especies
  </h2>
</div>
<div class="item item-body">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="fish in place.fishes">
      <div class="">
        <div class="info-titles">
          <p>
            <strong>{{fish.name}}</strong>
          </p>
          {{fish.scientific_name}}
        </div>
        <div class="item-image">
          <img class="full-image" ng-src="{{resizeCloudinaryImage(fish.url_images_front,'/c_crop,h_200,w_640')}}">
        </div>
        <div class="item-body">
          <p>{{fish.description}}</p>
          <p>
            <i class="ion-android-archive details-icons"></i>
            <strong>Peso promedio :</strong>
            {{fish.average_weight}}
          </p>
          <p>
            <i class="ion-crop details-icons"></i>
            <strong>Tamaño promedio :</strong>
            {{fish.average_size}}
          </p>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</div>
</div>

<div class="list card">
<div class="item header-details">
  <h2 class="text-left">
    Moscas recomendadas
  </h2>
</div>
<div class="item item-body">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="flyFishing in place.flies">
      <div class="">
        <div class="info-titles">
          <p>
            <strong>{{flyFishing.name}}</strong>
          </p>
          {{flyFishing.fly_type}}
        </div>
        <div class="">
          <img class="full-image" ng-src="{{resizeCloudinaryImage(flyFishing.url_images_front,'/c_crop,h_200,w_640')}}">
        </div>
        <div class="item-body">
          {{flyFishing.description}}
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</div>
</div>
</ion-content>
</ion-view>
