<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>
    {{place.name}}
  </ion-nav-title>
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-body">

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="placeImage in place.url_images_detail">
            <img class="full-image" ng-src="img/{{placeImage}}">
          </ion-slide>
        </ion-slide-box>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Descripcion</strong>
        </h2>
      </div>

      <div class="item item-body">
        <p>{{place.description}}</p>
      </div>

    </div>

    <div class="list card">
      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Informacion</strong>
        </h2>
      </div>

      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
            <strong>Ciudad :</strong>
            <span>{{place.city}}</span>
          </li>

          <li class="item">
            <strong>Cuenca :</strong>
            <span>{{place.watershed}}</span>
          </li>
          <li class="item">
            <strong>Cuerpo o curso de Agua :</strong>
            <span>{{place.body_of_water_type}}</span>
          </li>
          <li class="item">
            <strong>Caudal :</strong>
            <span>{{place.flow}}</span>
          </li>
          <li class="item">
            <strong>Profundidad :</strong>
            <span>{{place.depth}}</span>
          </li>
          <li class="item">
            <strong>Turbiedad :</strong>
            <span>{{place.turbidity}}</span>
          </li>
          <li class="item">
            <strong>Temperatura promedio :</strong>
            <span ng-repeat="average_temperature in place.average_temperature">
              {{average_temperature}}{{$last ? "" : ","}}
            </span>
          </li>
          <li class="item">
            <strong>Temperatura promedio del agua :</strong>
            <span ng-repeat="average_water_temperature in place.average_water_temperature">
              {{average_water_temperature}}{{$last ? "" : ","}}
            </span>
          </li>

          <li class="item">
            <strong>Tipos de fondo :</strong>
            <span ng-repeat="funds in place.funds">
              {{funds}}{{$last ? "" : ","}}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Accesos</strong>
        </h2>
      </div>

      <div class="item item-text-wrap">

        <div class="list list-inset">

          <div class="item" ng-repeat="access in place.access">
            <h2>{{access.title}}</h2>
            <p>{{access.desciption}}</p>
            <br/>
            <p>
              <strong>Tipo de acceso vehicular :</strong>
              <span ng-repeat="vehicle_access in access.vehicle_access">
                {{vehicle_access}}{{$last ? "" : ","}}
              </span>
            </p>
            <p>
              <strong>Tipo de acceso peatonal :</strong>
              <span ng-repeat="pedestrian_access in access.pedestrian_access">
                {{pedestrian_access}}{{$last ? "" : ","}}
              </span>
            </p>
            <p>
              <button class="button button-small button-light">
                Ver en Mapa
              </button>
            </p>
          </div>

        </div>

      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Flora y Fauna</strong>
        </h2>
      </div>

      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
            <strong>Tipo de vegetación :</strong>
            <span ng-repeat="vegetation in place.vegetation">
              {{vegetation}}{{$last ? "" : ","}}
            </strong>
          </li>
          <li class="item">
            <strong>Fauna asociada :</strong>
            <span ng-repeat="fauna in place.fauna">
              {{fauna}}{{$last ? "" : ","}}
            </strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Principales especies</strong>
        </h2>
      </div>

      <div class="item item-body">

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="fish in place.fishes">
            <img class="full-image" ng-src="img/{{fish.url_images_front}}">
            <p>{{fish.name}}</p>
          </ion-slide>
        </ion-slide-box>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Principales moscas de pescas</strong>
        </h2>
      </div>

      <div class="item item-body">

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="flyFishing in place.flies">
            <img class="full-image" ng-src="img/{{flyFishing.url_images_front}}">
            <p>{{flyFishing.name}}</p>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Normativas</strong>
        </h2>
      </div>

      <div class="item item-body">
        <p>
          ...
        </p>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Alrededores</strong>
        </h2>
      </div>

      <div class="item item-body">
        <p>
          ...
        </p>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2 class="text-left">
          <strong>Publicidad</strong>
        </h2>
      </div>

      <div class="item item-body">

        <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="advertisement in place.advertisements" ng-click="openLink(advertisement.link)">
            <img class="full-image" ng-src="{{advertisement.url_image_logo}}">
            <h2>{{advertisement.name}}</h2>
            <p>{{advertisement.description}}</p>
          </a>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
