<ion-view hide-tabs>
    <ion-nav-title>
    </ion-nav-title>
    <ion-content class="terms-content">
        <div class="content terms">
            <h1>Terminos de Uso</h1>
            <p>You must agree to Read Water Patagonia Terms and Conditions and Privacy Policy to use the app</p>
        </div>
        <div class="confirm">
            <button class="button button-block button-confirm">
                ACEPTAR
            </button>
        </div>
        <div class="policy">
          <p>Leer <a href=""> Políticas de Privacidad</a> y <a href=""> Términos de Uso</a></p>
        </div>
    </ion-content>
</ion-view>
